@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/*Body*/
body {
    font-family: calibri;
    background-color: #232222;
}

/*Header (logo + ket log in/daftar)*/
header {
    width: 1366px;
    height: 90px;
    margin-left: -8px;
    margin-top: -8px;
    background-image: linear-gradient(to right, #710101, #710101, black, black);
    position: fixed;
}

/*Logo ASMR*/
header img {
    width: 140px;
    height: auto;
    margin-top: 13px;
    margin-left: 9px;
}

/*Animasi*/
header a:hover {
    opacity: 70%;
}

/*Keterangan halaman*/
header h3 {
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-top: -50px;
    margin-left: 89%;
    animation: tx 1.5s infinite alternate;
}

@keyframes tx {
    0% {
        opacity: 45%;
    }

    25% {
        opacity: 50%;
    }

    50% {
        opacity: 65%;
    }

    75% {
        opacity: 75%;
    }

    100% {
        opacity: 90%;
    }
}


/*Kolom navbar*/
.menu {
    width: 1366px;
    height: 40px;
    margin-left: -8px;
    margin-top: 82px;
    background-color: rgb(0, 0, 0, 85%);
    position: fixed;
}

/*Menu navbar (klik)*/
.menu li a {
    display: inline-block;
    color: white;
    font-size: 17px;
    font-family: calibri;
    text-decoration: none;
}

/*Menu navbar*/
.menu li {
    margin-top: -6px;
    margin-left: -20px;
    padding: 0px 25px;
    float: left;
    list-style-type: none;
}

/*Animasi*/
.menu i:hover {
    opacity: 70%;
    transform: scale(1.2);
    cursor: pointer;
}

.menu a:hover {
    opacity: 70%;
    transform: scale(1.2);
    cursor: pointer;
}

/*Garis merah bawah navbar*/
.menu .active {
    border-bottom: 2px solid red;
    width: auto;
}

.menu .logout {
    color: red;
}

.menu .logout:hover {
    color: orange;
}

i {
    color: black;
}

/*kolom search*/
form {
    width: 300px;
    margin-top: -20px;
    margin-left: 1060px;
}

/*Kolom search (isi)*/
.search {
    padding: 5px 13px;
    background: none;
    border: none;
    color: white;
    border-bottom: 2px solid red;
    margin-top: 10px;
    margin-left: -2px;
    outline: none;
}

/*Tombol search*/
.button {
    position: relative;
    left: 0px;
    width: 19%;
    padding: 4px 2px;
    border: 0px solid #008080;
    background-color: darkred;
    color: #fafafa;
    font-weight: bold;
    margin-top: 10px;
    border-radius: 8px;
}

/*Animasi*/
.button:hover {
    background: #D90707;
    color: #fafafa;
}

.button:active {
    background: #FF3400;
}

.container-struk {
    width: 90%;
    margin: 0 auto;
}

.container-struk .laporan {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); */
    gap: 10px;
    font-family: 'poppins', sans-serif;
    font-size: 15px;
    letter-spacing: .4px;
}

.container-struk .laporan .tambah .ann {
    background-color: blue;
    /* height: 100%; */
    padding: 2px 50px;
    color: #d9d9ff;
    border-radius: 5px;
    border: 3px solid rgb(0, 0, 187);
}

.container-struk .laporan .tambah .ann a {
    color: #fff;
    text-decoration: none;
}

.container-struk .laporan .tambah .ann a:hover {
    text-decoration: underline;
}

.container-struk .laporan .edit .anne {
    background-color: rgb(255, 153, 0);
    padding: 2px 50px;
    color: #fff3d9;
    border-radius: 5px;
    border: 3px solid rgb(122, 80, 0);
}

.container-struk .laporan .edit .anne a {
    color: #fff;
    text-decoration: none;
}

.container-struk .laporan .edit .anne a:hover {
    text-decoration: underline;
}

.container-struk .laporan .hapus .anne {
    background-color: red;
    padding: 2px 50px;
    color: #ffd9d9;
    border-radius: 5px;
    border: 3px solid rgb(117, 0, 0);
}

.container-struk .laporan .hapus .anne a {
    color: #fff;
    text-decoration: none;
}

.container-struk .laporan .hapus .anne a:hover {
    text-decoration: underline;
}

.container-struk .laporan .beli .anne {
    background-color: rgb(0, 180, 0);
    padding: 2px 50px;
    color: #d9ffdf;
    border-radius: 5px;
    border: 3px solid green;
}

.container-struk .laporan .beli .anne a {
    color: #fff;
    text-decoration: none;
}

.container-struk .laporan .beli .anne a:hover {
    text-decoration: underline;
}